@media only screen {
    div#nav-medium{
        display: none;
        margin-top:1.33em;
        @media only screen and (min-width: 64.063em) {
            display: block;
            ul{
                list-style:none;
                margin:0;
                padding:0;
                line-height:1.3;
                li.level_1{
                    & > a{
                        display:block;
                        color:#000;
                        text-decoration:none;
                        padding:.5em .25em .5em 1.25em;
                        font-weight:700;
                    }
                    &.active > a,
                    & > a:hover,
                    & > a:focus,
                    &.active.parent > a:hover,
                    &.active.parent > a:focus{
                        background-color:$green;
                        color:#fff;
                        text-decoration:underline;
                        @include box-shadow(0, .25em, .25em, rgba(0,0,0,0.3));
                        position:relative;
                    }
                    &.active.parent > a{
                        text-decoration:none;
                    }
                    & > ul{
                        background-color:$lt-gray;
                    }
                }
                li.level_2{
                    & > a{
                        display:block;
                        color:$dk-gray;
                        text-decoration:none;
                        padding:.5em .25em .5em 1.25em;
                        font-size:.9735em;
                    }
                    &.active > a,
                    & > a:hover,
                    & > a:focus,
                    &.active.parent > a:hover,
                    &.active.parent > a:focus{
                        text-decoration:underline;
                        color:$green;
                    }
                    &.active.parent > a{
                        text-decoration:none;
                    }
                }
                li.level_3{
                    & > a{
                        font-family: "proxima-nova-condensed",sans-serif;
                        display:block;
                        font-size:.875em;
                        color:$dk-gray;
                        text-decoration:none;
                        padding:0.5em 0.25em 0.5em 2.5em;
                    }
                    &.active a,
                    & > a:hover,
                    & > a:focus{
                        color:$green;
                        text-decoration:underline;
                    }
                }
            }
        }
    }
}