@media print {
    #mobile-nav,
    header,
    #nav-medium,
    .banner-home,
    .featured-home,
    #social,
    footer {
        display:none;
    }
    a { 
        color:#186B9B;
    }
    a:after {
        content: " (" attr(href) ")";
        font-size: 80%; 
    }
    ul.products {
        list-style:none;
    }
    ul.products li {
        overflow:auto;
    }
    ul.products img {
        float:left;
        margin:0 .5em .5em 0;
    }
    footer {
        text-align:center;
    }
    footer ul {
        list-style:none;
        overflow:auto;
        margin-bottom:1em;
    }
    footer li {
        float:left;
        margin-left:1em;
    }
    footer li:first-child {
        margin-left:0;
    }
}