/*
// shared/sitewide/css/sitewide.css
@import "http://www.anr.msu.edu/contentAsset/raw-data/633acb94-1581-4a5b-b70f-55001d5f594a/fileAsset?byInode=true";
// shared/sitewide/css/normalize.css
@import "http://www.anr.msu.edu/contentAsset/raw-data/22d2249d-5b12-4242-9c75-b1b7d8335406/fileAsset?byInode=true";
// shared/sitewide/css/foundation.css
@import "http://www.anr.msu.edu/contentAsset/raw-data/5dc70ee0-d9ce-4a80-a7a4-a3244b87a660/fileAsset?byInode=true";
// shared/sitewide/css/tables-responsive.css
@import "http://www.anr.msu.edu/contentAsset/raw-data/dabd13d2-7f83-4fe2-b3c7-90f93e83fd33/fileAsset?byInode=true";
// shared/anr_bar/scss/styles.css
@import "http://www.anr.msu.edu/contentAsset/raw-data/279be22f-18d1-48a5-a7c5-fa9cb77fb0fc/fileAsset?byInode=true";
*/
@import "D:\css\sitewide\sass\sitewide";
@import "D:\css\sitewide\sass\normalize";
@import "D:\css\sitewide\sass\foundation";
@import "D:\anr_bar\scss\styles"; 
@import "mixins";
@import "variables";
@import "header";
@import "nav-medium";
@import "footer";
@import "mobile-nav";

svg{
    margin: 0;
    text{
        visibility:hidden;
        height:0;
        width:0;
    }
}
@media only screen {
    h2.landmark {
        position: absolute;
        top:-3333em;
        left: -3333em;
    }
    body {
        font-family: "proxima-nova",sans-serif;
        color: $gray;
        line-height: 1;
        background-color:#3f474d;
        overflow-x:hidden;
    }
    #outer-wrap {
        width:100%;
        height:100%;
        float:left;
    }
    #inner-wrap{
        background-color:#ccc;
    }
    #page{
        background-color:#fff;
    }
    /* for home page h1 */
    div#inner-wrap.home{
        article#content > h1{
            @include linear-gradient(url('/includes/triangle-pattern.png') $lt-green, $dk-green);
            background-position:0 0;
            background-repeat: repeat;
            padding: .25em .9375em;
            margin-left:-.9375em;
            margin-right:-.9375em;
            @media only screen and (min-width:64.063em){
                margin-left:0;
                margin-right:0;
            }
            a{
                color:#fff;
                text-decoration:none;
            }
        }
    }
    // for browsers that don't support css gradients
    html.no-cssgradients{
        div#inner-wrap.home{
            article#content > h1{
                background:$lt-green url('/includes/triangle-pattern.png') 0 0 repeat !important;
                color:#fff;
            }
        }
    }
    body div#inner-wrap div.banner{
        h2{ margin-bottom:0;}
        & p:first-child{
            margin-top:.25em;
        }
    }
    article#content,
    div.banner{
        h1{
            font:900 1.375em "proxima-nova", sans-serif;
            text-transform:uppercase;
            margin:1em 0;
            color:$dk-green;
        }
        h1.white{
            color:#fff;
        }
        h2{
            font:900 1.25em "proxima-nova", sans-serif;
            color:$green;
            margin:1em 0;
            line-height: 1.1875;
            a{
                text-decoration: none;
            }
            a:focus,
            a:hover{
                text-decoration: underline;
            }
        }
        h3 {
            font:800 1.125em "proxima-nova", sans-serif;
            color:$green;
            margin:1em 0;
        }
        h4 { 
            font:700 1em "proxima-nova", sans-serif;
            color:$dk-green;
            margin:1em 0;
        }
        h5 {
            font:700 .9375em "proxima-nova", sans-serif;
            color:#000;
            margin:1em 0;
        }
        h6{
            font:700 .875em "proxima-nova", sans-serif;
            color:#000;
            margin:1em 0;
        }
        .caps{ text-transform:uppercase;}
        a{
            color: $lt-green;
        }
        a:hover,
        a:focus{ 
            text-decoration: none;
        }
        p {
            margin: 1em 0;
            line-height: 1.4;
        }
        li{
            margin: .5em 0;
            line-height: 1.4;
        }
        blockquote{
            margin: 1em;
            line-height: 1.4;
        }
        /* news & events */
        ul.events-list,
        ul.news-list{
            padding:0;
            list-style:none;
            margin-left:-.9375em;
            margin-right:-.9375em;
            @media only screen and (min-width:64.063em){
                margin-left:0;
                margin-right:0;
            }
        }
        li.events-item,
        li.news-item{
            background:url('/includes/Listing-Texture.png') left bottom repeat-x;
            padding: 0 .9375em .5em .9375em;
            @media only screen and (min-width:64.063em){
                padding:0 0 .5em 0;
            }
        }
        a.month{
            border: $lt-gray .1875em solid;
            border-top:$lt-gray .75em solid;
            display:block;
            text-align:center;
            width:3.3875em;
            text-transform:uppercase;
            font-size:.75em;
            float:left;
            margin: 0 1em 1em 0;
            line-height:1.3;
            text-decoration:none;
            span.day{
                font-size:1.3125em;
                font-weight:700;
            }
        }
        ul.pagination{
            padding: 0;
            margin: 0;
            list-style: 0;
            text-align: center;
            li{
                display: inline-block;
                padding: .5em 1em;
                a{
                    text-decoration:none;
                    &:hover,
                    &:focus{
                        text-decoration:underline;
                    }
                }
                &.active a{
                    font-weight:700;
                }
            }
            li:first-child{
                padding-left: 0;
            }
            li:last-child{
                padding-right: 0;
            }
        }
        div.article-img{
            max-width:18.75em;
            float:right;
            margin:0 0 1em 1em;
            p{
                color:$green;
                font-size:.9375em;
            }
        }
    }
}
@import "print";