@media only screen {
    // for broswers that don't support svg
    html.no-svg{
        div.masthead a{
            // masthead-helmet-white.png
            background:url('http://www.anr.msu.edu/contentAsset/raw-data/005b07f5-c0b0-4dcc-bf50-af79120ab2f9/fileAsset?byInode=true') no-repeat center center;
            width: 298px;
            height: 34px;
            display: inline-block;
        }
        .masthead form input[type=submit] {
            // icon-search.png
            background: url("http://www.anr.msu.edu/contentAsset/raw-data/6e013273-ffe3-48af-b856-dc4d45e81596/fileAsset?byInode=true") no-repeat scroll center center #FFFFFF;
        }
    }
    // for browsers that don't support css gradients
    html.no-cssgradients{
        header{
            background:$lt-green url('/includes/triangle-pattern.png') 0 0 repeat !important;
        }
    }
    // svg color styles
    #msu-masthead-icon path{
        fill:#fff;
    }
    #menu-icon rect{
        fill:#fff;
    }
    #menu-icon g rect,
    #menu-icon path{
        fill:$green;
    }
    header{
        overflow:hidden;
        @include linear-gradient(url('/includes/triangle-pattern.png') $lt-green, $dk-green);
        background-position:0 0;
        background-repeat: repeat;
    }
    header.home{
        @media only screen and (min-width:40.063em){
            min-height: 13.875em;
        }
        @media only screen and (min-width:64.063em){
            min-height:15.625em;
        }
        .title-row h1 {
            margin-bottom:0;
        }
    }
    .masthead-row {
        position:fixed;
        background:$lt-green url('/includes/triangle-pattern.png');
        background-position:0 0;
        background-repeat: repeat;
        padding-bottom:.5em;
        z-index:100;
    }
    div.masthead {
        height:2.125em;
        margin-top:1em;
        a{
            display: block;
            position: relative;
            height: 2.125em;
            max-width: 18.75em;
            @media only screen and (min-width:64.063em){
                display:inline-block;
                width:50%;
            } 
            .masthead{
                width: 100%;
                height: 100%;
                margin: 0;
            }

        }
    }
    .title-row {
       padding-top:2.5em;
        h1{
            position:relative;
            text-transform:uppercase;
            color:#fff;
            a{
                color: #fff;
                text-decoration: none;
                position:relative;
                z-index:10;
                &:hover,
                &:focus{
                    text-decoration: underline;
                }
            }
        }
        p{
            color:#fff;
            font-size:.625em;
            @media only screen and (min-width:64.063em){
                font-size:.875em;
            }
            a{
                color:#fff;
            }
        }
    }
    #networkElement,
    #cse-search-box{
        display:none;
    }
}
@media only screen and (min-width: 64.063em) {
    #cse-search-box,
    #networkElement,
    .masthead form {
        display:block;
    }
    .masthead-row {
        position:relative;
        background:none;
        padding:0;
    }
    .title-row {
        padding-top:0;
    }
    div#search-medium {
        display:inline;
    }
    .masthead form { 
        float:right; 
        background: none repeat scroll 0 0 #FFFFFF;
        border: .0625em solid #999999;
        @include border-radius(.1875em);
        height: 1.75em;
        margin-bottom: .75em;
        width: 18.75em;
        overflow:hidden;
    }
    .masthead form input[type=text] { 
        border:none;
        width:16em;
        padding-left:.25em;
        margin-top: .125em;
    }
    .masthead form input[type=submit] {
        // icon-search.svg
        background: url("http://expeng.anr.msu.edu/images/sitewide/msuimages/icon-search.svg") no-repeat scroll center center #FFFFFF;
        border: 0 none;
        @include border-radius( 0 .1875em .1875em 0);
        cursor: pointer;
        float: right;
        height: 1.75em;
        margin: 0 auto;
        outline: 0 none;
        text-indent: -9999px;
        text-transform: capitalize;
        width: 2.125em;
    }
}

div.banner{
    background-color:#fff;
    .banner-image{
        display:none;
        @media only screen and (min-width:40.063em){
            display:block;
        }
        img{
            max-width:none;
        }
    }
}